@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Montserrat:wght@900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-image: url(wood.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display:flex;
    justify-content:center
    
}

img {
    width:200px;
    height:200px;    
}

header {
    font-family: 'Holtwood One SC', serif;
    color: white;
    font-weight:bolder;
    font-size:60px
}

.rules {
    font-family: 'Holtwood One SC', serif;
    color: white;
    font-size: 25px;
    text-align:center;
    font-weight:bold
    
    
}

.container {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
    padding:5%

}

#score {
    font-family: 'Holtwood One SC', serif;
    font-size:70px;
    color:white;

}

#roll,
#musicBtn {
    font-family: 'Holtwood One SC', serif;
    width:200px;
    height:40px;
    font-size:20px;
    color: brown;
    background-color: burlywood;
    cursor:pointer
       
}